*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body{
    min-height: 100vh;
    background-color:#192862;
    color: white;
    display: grid;
    place-items: center;
}